
#pagina1{
    background-color: black !important;
}

.section{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.circulo{
    background-color: black !important;
    margin-top: 50px;
    border: 3px solid white !important;
    width: 280px;
    height: 280px;
    border-radius: 170px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    animation-name: pisca-pisca;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.theuz{
    border-radius: 165px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black !important;
}

#nome{
    background-color: black !important;
    color: white !important;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: gainsboro 0.1em 0.1em 0.2em
}

#work{
    background-color: black !important;
    color: white !important;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: gainsboro 0.1em 0.1em 0.2em;
    margin-top: -25px;
}

.box-da-imagem{
    background-color: black !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
}

.setaprabaixo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: pisca-pisca;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pisca-pisca {
    from {
      opacity:0.5
    }
  
    to {
      opacity: 1;
    }
}


@media only screen and (max-width: 800px) {
    #curso-box{
        text-align: center;
        word-wrap: break-word;
    }
}
