@media screen and (max-width: 600px){

    #inlineright{
        margin-left: 30%;
        float: right;
        width: 40%
    }

    #inlineleft{
        float: left;
        width: 25%;
        margin-left: 0%;
    }

    .box-de-cima{
        height: 45vh;
        width: 100vw;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        border-block-end: none
    }

    .texto-de-cima{
        display: inline-block;
        width: 100%;
    }

    .texto-de-cima > p{
        float: left;
        width: 60%;
        font-size: 20PX;
    }

    #idade{
        font-size: 17px; 
        width: 30% !important;
        margin-left: 5%;
    }

    .texto-de-baixo{
        display: inline-block !important;
        width: 100%;
    }

    .buttons-inline > button{
        background-color: transparent;
        color: white;
        font-size: 18px;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
        border: none;
        height: 40px;
        width: 115px;
    }

    #render{
        width: 100%;
        margin-top: 3vh;
        height: 100vh ;
    }

    #inlinegeral{
        display: block;
    }
    
    #inline1{
        width: 80%;
        height: auto;
        margin-left:auto ;
        margin-right: auto;
        float: none;
    }
    
    #inline2{
        height: auto;
        width: 80%;
        margin-left:auto ;
        margin-right: auto;
        float: none;
    }
    
    #width-reduzida{
        width: 80% !important;
    }


    #inline-one{
        height: 100%;
        float: left;
        width: 50%;
    }
    
    
    #inline-two{
        height: 100%;
        float: right;
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {

    #inlineright{
        margin-left: 10%;
        float: right;
        width: 40%
    }

    #inlineleft{
        float: left;
        width: 25%;
        margin-left: 15%;
    }

    .box-de-cima{
        height: 45vh;
        width: 100vw;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        border-block-end: 1px solid gray;
    }

    .texto-de-cima{
        display: inline-block;
        width: 100%;
    }

    .texto-de-cima > p{
        float: left;
        width: 60%;
        font-size: 20PX;
    }

    #idade{
        font-size: 17px; 
        width: 30% !important;
        margin-left: 5%;
    }

    .texto-de-baixo{
        display: inline-block !important;
        width: 100%;
    }

    .buttons-inline > button{
        background-color: transparent;
        color: white;
        font-size: 18px;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
        border: none;
        height: 40px;
        width: 115px;
    }

    #render{
        width: 100%;
        margin-top: 3vh;
        height: 100vh ;
    }

    #inlinegeral{
        display: block;
    }
    
    #inline1{
        width: 80%;
        height: auto;
        margin-left:auto ;
        margin-right: auto;
        float: none;
    }
    
    #inline2{
        height: auto;
        width: 80%;
        margin-left:auto ;
        margin-right: auto;
        float: none;
    }
    
    #width-reduzida{
        width: 80% !important;
    }


    #inline-one{
        height: 100%;
        float: left;
        width: 50%;
    }
    
    
    #inline-two{
        height: 100%;
        float: right;
        width: 50%;
    }
}