#pagina2{
    color: black !important;
    background-color: white !important;
    font-family: Segoe UI !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100vw !important;
    height: 130vh !important;
}

#section2{
    margin-top: 3%;
    color: black !important;
    background-color: white !important;
    display: inline-block;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 70%;
    justify-content: center !important;
    align-items: center !important;

}


#section2 > .card-group{
    background-color: white !important;
    color: black !important;
    border: hidden !important;
    width: 100% !important;
}

.card-body{
    justify-content: center !important;
    margin: auto;
}

#section2 > .card-group > .card > .card-body, #section2 > .card-group > .card > .card-body >.card-title, #section2 > .card-group > .card > .card-body > .card-text{
    background-color: white !important;
    color: black !important;
    height: 100% !important;
    border: hidden !important;
}

.card{
    background-color: white !important;
    color: black !important;
    height: 100% !important;
    border: hidden !important;
    justify-content: center !important;
}

.card-title{
    font-size: 25PX;
    background-color: white !important;
    color: black !important;
}

#sobre{
    width: 75%;
    background-color: white !important;
    color: black !important;
}

#aprendiz{
    font-size: 21px !important;
}
