#pagina3{
    color: white !important;
    background-color: black !important;
    font-family: 'Segoe UI' !important;
    width: 100vw !important;
    height: 60vh !important;
    align-items: center !important;
    justify-content: center !important;
}
